package components

import  (
    db "github.com/Cal-lifornia/homieclips/db/models"
)

templ Clip(clip db.Clip) {
    <li class="p-3 bg-black">
        <a href={templ.URL("/stream/" + clip.ObjectName)}>{clip.FriendlyName}</a>
    </li>
}