package components

import "homieclips/db/models"

templ Home(clips []db.Clip) {
    <div id="clips">
        <div class="grid text-center">
        for _, clip := range clips {
            <div class="g-col">{clip.FriendlyName}</div>
        }
        </div>
    </div>
}