package components

import "github.com/Cal-lifornia/homieclips/db/models"

templ Home(clips []db.Clip) {
    <div id="clips" class="">
        <ul>
        for _, clip := range clips {
            @Clip(clip)
        }
        </ul>
    </div>
}