package components

templ Video(clipURL string) {
    <video
        class="video-js"
        data-setup="{}"
        controls
        preload="auto"
        fluid="true"
        >
        <source src={ clipURL }  type="application/x-mpegURL"/>
    </video>
    <script>
        var player = videojs('my-video');
    </script>
}